{% import 'macros.html' as macro%}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title>TN - Home</title>
    {% endif %}
</head>

<body>

    <!-- Trending News Names -->
    <!-- 
    <h3>Trending News</h3>
    <ul>
        {% for news_name in name %}
        <li>
            {{news_name.name}}
        </li>
        {% endfor %}
    </ul>

    <h4>{{ NewsLink }}</h4> -->


    <!-- Trending News -->

    <h3> Trending News </h3>
    <ul>
        {{ macro.displaySourceList(name) }}
    </ul>


    <!-- To figure out right "news-categories" and display them -->

</body>

</html>