{% macro displaySourceList(source_list) %}
<!-- start macro(above) and loop(below) -->
{% for source in source_list %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 card">
            <div class="card-body">
                <!-- <li>{{ source.id }}</li> -->
                <li>
                    <a href="/news/<id>{{ source.name }}">{{source.name}}</a></li>
                <li>{{ source.description }}</li>
                <li>{{ source.url }}</li>
                <li>{{ source.category }}</li>
                <li>{{ source.country }}</li>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!-- end the loop -->
{% endmacro %}