{% extends 'base.html' %} {% import 'macros.html' as macro%}

<!-- content block  -->

{% block content %}

<div class="container">
    <h3> Trending News Articles </h3>
    <div class="row">
        <!-- <div class="card-deck"> -->
        {{ macro.displayArticleList(newsart) }}
        <!-- </div> -->
    </div>
</div>

{% endblock %}






<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>TN - News</title>
    {% endif %}
</head>

<body>
    <h3>News Article {{ id }}</h3>
</body>

</html> -->